################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/main/_ReSharper.Caches
/main/.vs
/main/out
/main/temp

/esp32/.vscode
/esp32/build
/esp32/_ReSharper.Caches
